In [2]:
 
import pandas as pd

import numpy as np

brands = pd.read_csv('../staging_1/brands/brands.csv')

In [3]:
brands

   brand_id    brand_name                extract_time source_name
0         1       Electra  2024-04-28 20:09:49.836168    datalake
1         2          Haro  2024-04-28 20:09:49.836168    datalake
2         3        Heller  2024-04-28 20:09:49.836168    datalake
3         4   Pure Cycles  2024-04-28 20:09:49.836168    datalake
4         5       Ritchey  2024-04-28 20:09:49.836168    datalake
5         6       Strider  2024-04-28 20:09:49.836168    datalake
6         7  Sun Bicycles  2024-04-28 20:09:49.836168    datalake
7         8         Surly  2024-04-28 20:09:49.836168    datalake
8         9          Trek  2024-04-28 20:09:49.836168    datalake

In [4]:
import pandas as pd
import os
output_path = '../staging_2/brands/brands.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
brands.to_csv(output_path, index=False)