In [1]:
 
import pandas as pd

import numpy as np

categories = pd.read_csv('../staging_1/categories/categories.csv')

In [2]:
categories

   category_id        category_name                extract_time source_name
0            1    Children Bicycles  2024-04-28 20:09:52.132594    datalake
1            2     Comfort Bicycles  2024-04-28 20:09:52.132594    datalake
2            3    Cruisers Bicycles  2024-04-28 20:09:52.132594    datalake
3            4  Cyclocross Bicycles  2024-04-28 20:09:52.132594    datalake
4            5       Electric Bikes  2024-04-28 20:09:52.132594    datalake
5            6       Mountain Bikes  2024-04-28 20:09:52.132594    datalake
6            7           Road Bikes  2024-04-28 20:09:52.132594    datalake

In [4]:
import pandas as pd
import os
output_path = '../staging_2/categories/categories.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
categories.to_csv(output_path, index=False)