In [1]:
 
import pandas as pd

import numpy as np

stocks = pd.read_csv('../staging_1/stocks/stocks.csv')

In [2]:
stocks

     store_id  product_id  quantity                extract_time source_name
0           1           1        27  2024-04-28 20:10:00.473066    datalake
1           1           2         5  2024-04-28 20:10:00.473066    datalake
2           1           3         6  2024-04-28 20:10:00.473066    datalake
3           1           4        23  2024-04-28 20:10:00.473066    datalake
4           1           5        22  2024-04-28 20:10:00.473066    datalake
..        ...         ...       ...                         ...         ...
934         3         309        30  2024-04-28 20:10:00.473066    datalake
935         3         310         8  2024-04-28 20:10:00.473066    datalake
936         3         311        23  2024-04-28 20:10:00.473066    datalake
937         3         312        18  2024-04-28 20:10:00.473066    datalake
938         3         313         0  2024-04-28 20:10:00.473066    datalake

[939 rows x 5 columns]

In [3]:
import pandas as pd
import os
output_path = '../staging_2/stocks/stocks.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
stocks.to_csv(output_path, index=False)