In [1]:
 
import pandas as pd

import numpy as np

brands = pd.read_csv('../landing/brands/brands.csv')

In [2]:
brands

   brand_id    brand_name                extract_time source_name
0         1       Electra  2024-04-28 20:09:49.836168    datalake
1         2          Haro  2024-04-28 20:09:49.836168    datalake
2         3        Heller  2024-04-28 20:09:49.836168    datalake
3         4   Pure Cycles  2024-04-28 20:09:49.836168    datalake
4         5       Ritchey  2024-04-28 20:09:49.836168    datalake
5         6       Strider  2024-04-28 20:09:49.836168    datalake
6         7  Sun Bicycles  2024-04-28 20:09:49.836168    datalake
7         8         Surly  2024-04-28 20:09:49.836168    datalake
8         9          Trek  2024-04-28 20:09:49.836168    datalake

In [3]:
brands.isnull().sum()

brand_id        0
brand_name      0
extract_time    0
source_name     0
dtype: int64

In [7]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_id      9 non-null      int64
 1   brand_name    9 non-null      object
 2   extract_time  9 non-null      datetime64[ns]
 3   source_name   9 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 416.0+ bytes

In [5]:
brands.head()

   brand_id   brand_name                extract_time source_name
0         1      Electra  2024-04-28 20:09:49.836168    datalake
1         2         Haro  2024-04-28 20:09:49.836168    datalake
2         3       Heller  2024-04-28 20:09:49.836168    datalake
3         4  Pure Cycles  2024-04-28 20:09:49.836168    datalake
4         5      Ritchey  2024-04-28 20:09:49.836168    datalake

In [6]:
brands['extract_time'] = pd.to_datetime(brands['extract_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [8]:
import os
import pandas as pd


output_path = '../staging_1/brands/brands.csv'


os.makedirs(os.path.dirname(output_path), exist_ok=True)


brands.to_csv(output_path, index=False)

In [9]:
has_duplicate_rows = brands.duplicated(subset=None).any()

In [10]:
has_duplicate_rows

False