In [1]:
 
import pandas as pd

import numpy as np

orders = pd.read_csv('../landing/orders/orders.csv')

In [2]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
 8   extract_time   1615 non-null   object
 9   source         1615 non-null   object
dtypes: int64(5), object(5)
memory usage: 126.3+ KB

In [3]:
orders.isnull().sum()

order_id           0
customer_id        0
order_status       0
order_date         0
required_date      0
shipped_date     170
store_id           0
staff_id           0
extract_time       0
source             0
dtype: int64

In [4]:
orders['extract_time'] = pd.to_datetime(orders['extract_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [5]:
orders.shape

(1615, 10)

In [6]:
orders = orders[(orders['order_date'] >= '2000-01-01') & (orders['order_date'] <= '2024-12-31')]

In [7]:
orders['order_date'] = pd.to_datetime(orders['order_date'], format='%Y-%m-%d %H:%M:%S.%f')

In [8]:
orders = orders[(orders['required_date'] >= '2000-01-01') & (orders['required_date'] <= '2024-12-31')]

In [9]:
orders = orders[(orders['shipped_date'] >= '2000-01-01') & (orders['shipped_date'] <= '2024-12-31')]

In [10]:
orders['required_date'] = pd.to_datetime(orders['required_date'], format='%Y-%m-%d %H:%M:%S.%f')

In [11]:
orders['shipped_date'] = pd.to_datetime(orders['shipped_date'], format='%Y-%m-%d %H:%M:%S.%f')

In [12]:
has_duplicate_rows = orders.duplicated(subset=None).any()

In [13]:
has_duplicate_rows

False

In [14]:
orders

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_time,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-30 11:26:02.921696,postgres
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-30 11:26:02.921696,postgres
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-30 11:26:02.921696,postgres
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-04-30 11:26:02.921696,postgres
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-04-30 11:26:02.921696,postgres
...,...,...,...,...,...,...,...,...,...,...
1473,1474,816,4,2018-03-30,2018-04-01,2018-04-02,1,3,2024-04-30 11:26:02.921696,postgres
1474,1475,112,4,2018-03-30,2018-04-01,2018-03-31,2,6,2024-04-30 11:26:02.921696,postgres
1475,1476,35,4,2018-03-31,2018-04-01,2018-04-01,2,7,2024-04-30 11:26:02.921696,postgres
1476,1477,180,4,2018-03-31,2018-04-03,2018-04-01,2,6,2024-04-30 11:26:02.921696,postgres
1477,1478,392,4,2018-03-31,2018-04-02,2018-04-02,2,6,2024-04-30 11:26:02.921696,postgres

In [16]:
import os
import pandas as pd


output_path = '../staging_1/orders/orders.csv'


os.makedirs(os.path.dirname(output_path), exist_ok=True)


orders.to_csv(output_path, index=False)