In [1]:
 
import pandas as pd

import numpy as np

staffs = pd.read_csv('../landing/staffs/staffs.csv')

In [14]:
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,extract_time,source_name
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-04-28 20:09:57.902703,datalake
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-04-28 20:09:57.902703,datalake
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-04-28 20:09:57.902703,datalake
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-04-28 20:09:57.902703,datalake
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-04-28 20:09:57.902703,datalake
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-04-28 20:09:57.902703,datalake

In [21]:
staffs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 2 to 9
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   staff_id      6 non-null      int64
 1   first_name    6 non-null      object
 2   last_name     6 non-null      object
 3   email         6 non-null      object
 4   phone         6 non-null      object
 5   active        6 non-null      int64
 6   store_id      6 non-null      int64
 7   manager_id    6 non-null      int64
 8   extract_time  6 non-null      datetime64[ns]
 9   source_name   6 non-null      object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 528.0+ bytes

In [27]:
staffs.isnull().sum()

staff_id        0
first_name      0
last_name       0
email           0
phone           0
active          0
store_id        0
manager_id      0
extract_time    0
source_name     0
dtype: int64

In [5]:
staffs.dropna(subset=['last_name'], inplace=True)

In [7]:
staffs.dropna(subset=['email'], inplace=True)

In [9]:
staffs.dropna(subset=['phone'], inplace=True)

In [11]:
staffs.fillna(method='ffill', inplace=True)

In [15]:
staffs['extract_time'] = pd.to_datetime(staffs['extract_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [17]:
staffs['store_id'] = staffs['store_id'].astype(int)

In [20]:
staffs['manager_id'] = staffs['manager_id'].astype(int)

In [22]:
duplicates = staffs.duplicated()

In [23]:
duplicates

2    False
3    False
4    False
7    False
8    False
9    False
dtype: bool

In [25]:
has_duplicate_rows = staffs.duplicated(subset=None).any()

In [26]:
has_duplicate_rows

False

In [28]:
import os
import pandas as pd


output_path = '../staging_1/staffs/staffs.csv'


os.makedirs(os.path.dirname(output_path), exist_ok=True)


staffs.to_csv(output_path, index=False)