In [3]:
 
import pandas as pd

import numpy as np

products = pd.read_csv('../landing/products/products.csv')

In [2]:
products

,product_id,product_name,brand_id,category_id,model_year,list_price,extract_time,source_name
0,1,Trek 820 - 2016,9,6,2016,379.99,2024-04-28 20:10:14.746620,datalake
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,2024-04-28 20:10:14.746620,datalake
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,2024-04-28 20:10:14.746620,datalake
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,2024-04-28 20:10:14.746620,datalake
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,2024-04-28 20:10:14.746620,datalake
...,...,...,...,...,...,...,...,...
329,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99,2024-04-28 20:10:14.746620,datalake
330,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99,2024-04-28 20:10:14.746620,datalake
331,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99,2024-04-28 20:10:14.746620,datalake
332,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99,2024-04-28 20:10:14.746620,datalake
333,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99,2024-04-28 20:10:14.746620,datalake

In [19]:
products.isnull().sum()

product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
extract_time    0
source_name     0
dtype: int64

In [5]:
products['extract_time'] = pd.to_datetime(products['extract_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    334 non-null    int64
 1   product_name  334 non-null    object
 2   brand_id      334 non-null    int64
 3   category_id   334 non-null    int64
 4   model_year    334 non-null    int64
 5   list_price    334 non-null    float64
 6   extract_time  334 non-null    datetime64[ns]
 7   source_name   334 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 21.0+ KB

In [16]:
has_duplicate_rows = products.duplicated(subset=None).any()

In [17]:
has_duplicate_rows

False

In [18]:
products.drop_duplicates(inplace=True)

In [20]:
import os
import pandas as pd


output_path = '../staging_1/products/products.csv'


os.makedirs(os.path.dirname(output_path), exist_ok=True)


products.to_csv(output_path, index=False)